@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #fffbf5;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: fade-in 0.5s ease-in-out;
}

.triangle {
    position: absolute;
    width: 50vw;
    height: 50vh;
    z-index: -10;
    animation: slide-in 1s ease-in-out forwards;
}

header,
.github-gallery-container {
    animation: fade-in 1s ease-in-out forwards;
}

#triangle-top-left {
    background-color: #f7efe5;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    left: 0;
    top: 0;
}

#triangle-bottom-right {
    background-color: #f7efe5;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
    right: 0;
    bottom: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 5%;
    color: #674188;
    text-align: center;
}


header .name {
    font-size: 5em;
    margin-top: 0em;
    margin-bottom: 0em;
}

header .description {
    text-align: right;
    font-size: 1.2em;
}

.contact-btn {
    display: inline-block;
    background-color: #674188;
    color: #f7efe5;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #573177; /* darker version of #674188 */
}


#sunrise {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* Makes the image appear behind all other content */
    max-width: 100%;
    /* Ensures the image doesn't overflow the viewport */
}


.github-gallery-container {
    width: 90%;
    align-self: flex-end;
    padding-bottom: 5%;
    margin-top: auto;
}

.github-gallery {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}

.repo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f7efe5;
    padding: 1rem;
    width: 300px;
    min-height: 200px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #674188;
    /* Outline with color from palette */
}

.repo-card h3 {
    margin: 0;
    font-size: 24px;
    color: #674188;
}

.repo-card p {
    font-size: 16px;
    color: #674188;
}

.repo-card a {
    font-size: 16px;
    color: #c3acd0;
    text-decoration: none;
}

h1,
p {
    z-index: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.contact-info {
    font-size: 1em;
    margin-top: 0.5em;
}

.main-top {
    height: 33%;
    min-height: 33%;
}

.main-middle {
    height: 33%;
    min-height: 33%;
}

.main-bottom {
    height: 33%;
    min-height: 33%;
    align-self: center;
    padding-top: 3%;
}

.main-middle-left {
    width: 25%;
    min-width: 25%;
    padding-top: 1.5%;
    border-radius: 5px;
}

.main-middle-center {
    width: 33%;
    min-width: 33%;
}

.main-middle-right {
    width: 33%;
    min-width: 33%;
}

.section {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    animation: fade-in 1s ease-in-out forwards;
}

.section-btn {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #f7efe5;
    /* slightly grayish color */
    color: #674188;
}

.section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 18px;
    color: #f7efe5;
    position: relative;
    z-index: 1;
    text-shadow: 0.5px 0.5px #674188;
}

.section-content::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(#674188, #f7efe5);
    z-index: -1;
    border-radius: inherit;
    /* if your .section-content has border-radius, add this line */
}

.section-content.active::before {
    bottom: -4px;
    /* This line causes the bottom border to appear when the section is active */
}

.main-middle-left {
    background: linear-gradient(#674188, #f7efe5);
    padding: 2px;
    /* This creates a border-like effect, adjust as necessary */
    margin-left: 5%;
}



.section-btn.active {
    border-bottom: none;
}

.repo-title {
    font-size: 1.5em;
    color: #674188;
    margin-bottom: 1em;
    text-align: center;
}


/* Animations */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}